/* Geral  */

* {
  padding: 0;
  margin: 0;
  font-size: Helvatica;
  color: #333;
  box-sizing: border-box;
}

body {
  background-image: url("../img/image.png");
  background-size: cover;
}

button {
  background-color: #fdfdfd;
  color: #f9780f;
  border: 2px solid #f9780f;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: #f9780f;
  color: #fff;
  font-weight: bold;
}

button:hover > i {
  color: #fff;
}

button i {
  color: #f9780f;
  font-weight: bold;
  pointer-events: none;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

/* Todo header */

.todo-container {
  max-width: 450px;
  margin: 3rem auto;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  border-radius: 15px;
  border: 0.5px solid #f9780f;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #d47629;
}

/* todo Form */
#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #d47629;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
}

/* Todo tooblar */

#toolbar {
  padding: 1rem;
  border-bottom: 1px solid #d47629;
  display: flex;
}

#toolbar h4 {
  margin-bottom: 0.5rem;
}

#search {
  border-right: 1px solid #d47629;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 0.3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

/* Todo list */
.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #d47629;
  transition: 0.3s;
}

.todo h3 {
  flex: 1;
  font-size: 0.9rem;
}

.todo button {
  margin-left: 0.4rem;
}

.done {
  background-color: #d47629;
}

.done h3 {
  color: #fff;
  text-decoration: line-through;
  font-style: italic;
}


